
:root {
    /* colores */
    --texto-primario: #dddddd;
    --texto-secundario: #d1d1d1;
    --texto-contraste: #000000;
    --fondo-primario: #0f0921;
    --fondo-primario-transparente: #0f092180;
    --fondo-secundario: #0a0c13;
    --color-primario: #020127;
    --color-primario-apagado: #2422a3;
    --color-secundario: #6853b9;
    --color-terciario: #6f6f6f;
    --color-contraste: #fefefe;
    /* Tamaños */
    --presentacion-titulo-tamanio: 6vh;
    --presentacion-descripcion-tamanio: 6vmin;
    --presentacion-enlaces-tamanio: 4vmin;
    --titulo-tamanio: 3rem;
    --sub-titulo-tamanio: 2rem;
    --texto-tamanio: 1.1rem;
    --enlaces-tamanio: 1.2rem;
    --texto-peso-grueso: 700;
    --texto-peso-regular: 400;
    --texto-peso-fino: 300;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--texto-primario);
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

html {
background-color: var(--fondo-primario);
}

body{
    min-height: 100%;
    position: relative;
}

.presentacion{
    width: 100%;    
    height: 100%;
    background-size: cover;
    background-position: center;
}

.presentacion__contenedor_info{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    background-image: 
        linear-gradient(
            90deg, 
            var(--color-primario) 90vmin,
            transparent 200vmin
        ),
        linear-gradient(
            to top, 
            var(--color-primario), 5vmin,
            transparent
        ),
        url("imagenes/imagen_fondo.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.navegacion{
    width: 100vw;
    height: 10vh;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.navegacion__titulo{
    background-color: var(--color-secundario);
    border-radius: 0px 10px 10px 0px;
    padding: 1vh;
    padding-left: 10%;
    margin-right: 10px;
    text-shadow: 2px 2px 2px 2px var(--fondo-transparente);
}

.presentacion__titulo{
    font-size: var(--presentacion-titulo-tamanio);
    color: var(--texto-primario);
    width: 81vmax;
    height: 20vh;
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px  2px 0 #000,
        2px  2px 0 #000;
    text-shadow: 2px 2px 4px rgba(199, 29, 29, 0.733);
    padding-left: 10%;
}


.presentacion__parrafo{
    width: 58vmax;
    height: 20vh;
    font-size: var(--presentacion-descripcion-tamanio);
    color: var(--texto-secundario);
    text-wrap: pretty;
    padding-left: 10%;
    margin-bottom: 2vmax;
    margin-top: -1vmax;
}

.enlaces{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    padding-left: 8%;
    height: 40vh;
    font-size: var(--presentacion-enlaces-tamanio);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: start;
}       

.enlaces__enlace {
    text-decoration: none;
    padding: 1vw;
    padding-left: 1vw;
}

.enlaces__enlace:hover {
    color: var(--color-terciario); 
    transition: color 0.3s ease; /* Suaviza el cambio de color */
}

.enlaces__item{
    text-decoration: none;
    list-style: none;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgb(33, 13, 105);;
    border: 1px solid rgb(255, 255, 255);
    margin: 2vmax;
    padding: 2vw;
    border-radius: 30px;
    margin: top 1vw;
}

#link_sobre_mi {

}

#link_proyectos {
    
}

#link_tecnologias {
    
}

#link_linkedin {
    
}








@media (max-width: 1200px){
    .presentacion__parrafo{
        width: 85vw;
    }

    .presentacion__contenedor_info{

        background-image: linear-gradient(
            90deg, 
            var(--color-primario) 0vmin,
            transparent 200vmin
        ),
        linear-gradient(
            to top, 
            var(--color-primario), 5vmin,
            transparent
        ),url("imagenes/imagen_fondo.webp");

    }

}

@media (max-width: 850px){

    .presentacion__titulo{
        width: 45vmax;
    }

    .presentacion__parrafo{
        width: 75vw;
    }


    .enlaces{
        width: 60vw;
    }
}

.articulo{
    width: 100%;
    height: 100vh;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--color-primario);
    justify-content: flex-end;
}

.sobre_mi{
    align-items: center;

}



.articulo__contenedor_descripcion{
    display: flex;
    gap: 10px; /* Separacion entre las secciones */
    height: 80vh;
    width: 100vw;
    align-items: center;
    flex-direction: row-reverse;
    background-color: black;
}

.sobre-mi__descripcion{
    display: flex;
    width: 60vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align:justify;
    padding: 40px;
    color: var(--color-contraste);
    margin-right: 5vw;
}

.imagen_descripcion{
    background-color: #6f6f6f;
    width: 40vw;
    height: 60vh;
    display: flex;
    align-items: center;
    background-image: url(imagenes/mejora.png);
    background-size: cover;
    border-radius: 10px;
}



.proyectos{
    background: linear-gradient(180deg, rgb(15 8 16) 0%,
    var(--color-primario) 0%,
    var(--color-primario-apagado)10%,
    var(--fondo-primario)55%);
    height: max-content;
}





